# Indirect
tornado==6.4.2
ConfigArgParse==1.7
py12flogging==0.7.0
six==1.16.0

# Direct
Genshi==0.7.9
PyYAML==6.0.2
prometheus-client==0.20.0

# CDCAGG shared library
# TODO Use version when released
git+https://github.com/cessda/cessda.cdc.aggregator.shared-library@48-support-more-ddi-c-elements#egg=cdcagg_common
# Kuha Common
git+https://gitlab.tuni.fi/fsd/kuha_common@2.6.0#egg=kuha_common
# Kuha OAI-PMH Repo Handler
git+https://gitlab.tuni.fi/fsd/kuha_oai_pmh_repo_handler@1.9.0#egg=kuha_oai_pmh_repo_handler
